<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">

<div th:fragment="header">
    <title>KEA Blog</title>
<link rel="stylesheet" th:href="@{bootstrap.min.css}" type="text/css">
    <script src="bootstrap.js"></script>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="http://localhost:8080/">KEA Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/posts">Posts</a>
                </li>
            </ul>
            <div th:if="${session.level == null}">
            <form class="form-inline my-2 my-lg-0" th:action="@{/login}" th:object="${User}" method="post">
                <input type="text" class="form-control" placeholder="Email" name="email">
                <input type="password" class="form-control ml-2" placeholder="Password" name="password">
                <button type="submit" class="btn btn-secondary ml-2">Login</button>
            </form>
            </div>
            <div th:if="${session.level != null}">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" >
                    <img th:src="@{images/avatar.png}" class="float-left mt-2 mr-2" width="22" height="22"> <Strong class="nav-link float-right" th:text="${session.firstName}"></Strong>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">My Profile</a>
                    </li>
                    <div th:if="${session.level >= 90}">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin Panel</a>
                    </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>