<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>

<body  th:if="${session.level >= 90}">
<header>
    <div th:replace="fragments/header :: header"></div>
</header>

<div class="jumbotron text-center col-md-12" style="position: absolute;">
    <h3 class="display-3 text-center">Admin menu</h3>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/user/create" role="button">Manage users</a> <a class="btn btn-primary btn-lg" href="/blog/create" role="button">Manage blogs</a>
    </p>
    <ul class="list-group mt-5 col-md-6 float-left" style="position: relative">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Latest Users:
            <span class="badge badge-primary">Role</span>
        </li>
        <li th:each="user: ${users}" class="list-group-item d-flex justify-content-between align-items-center">
            <p th:text="${user.firstname}"></p>
            <span><p th:text="${user.roleName}"></span>
        </li>
    </ul>
    <ul class="list-group mt-5 col-md-6 float-right" style="position: relative;">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Latest Blogposts:
            <span class="badge badge-primary">Made by</span>
        </li>
        <li th:each="blog: ${blogs}" class="list-group-item d-flex justify-content-between align-items-center">
            <p th:text="${blog.title}"></p>
            <span><p th:text="${blog.author}"></span>
        </li>
    </ul>
</div>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>