<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body  th:if="${session.level >= 90}">
<header>
    <div th:replace="fragments/header :: header"></div>½
</header>

<h1>Manage Blogpost</h1>

<form th:action="@{/blog/create}" th:object="${Blog}" method="post" style="margin-left: 20%;">
    <div class="form-group col-md-9 mt-4">
        <label>Title:</label>
        <input type="text" class="form-control"placeholder="Skriv titel her" name="title">
    </div>
    <div class="form-group col-md-9">
        <label>Body: </label>
        <textarea name="text" class="form-control"></textarea>
    </div>
    <div class="form-group col-md-9">
        <input th:value="${session.id}" type="hidden" name="aid">
        <button type="submit" class="btn btn-primary btn-block mt-3 col-md-12">Create blogpost</button>
        <br>
    </div>
</form>


<table class="table table-hover" style="margin-left: 13%;">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Text</th>
        <th scope="col">Author</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Manage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "blog: ${blogs}">
        <th th:text="${blog.title}" scope="row"></th>
        <td><p th:text="${blog.text}"></p></td>
        <td><p th:text="${blog.author}"></p></td>
        <td><p th:text="${blog.date}"></p></td>
        <td><a th:href="@{/blog/delete/{id}(id=${blog.id})}"class="btn btn-danger">Delete</a><a href="" class="btn btn-info ml-2">Edit</a></td>
    </tr>
    </tbody>
</table>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>