<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <meta charset="UTF-8">
</head>
<body  th:if="${session.level >= 90}">
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<div>
    <h1 class="text-center mt-4"><a href="/admin">Admin</a> > Manage users</h1>
    <div><h4 class="text-center mt-3" th:text="${message}"></h4></div>
    <form th:action="@{/user/create}" th:object="${User}" method="post" style="margin-left: 20%;">
        <div class="form-group col-md-9 mt-4">
            <label>First name:</label>
            <input type="text" class="form-control"placeholder="First name" name="firstname">
        </div>
        <div class="form-group col-md-9 mt-4">
            <label>Last name:</label>
            <input type="text" class="form-control"placeholder="Last name" name="lastname">
        </div>
        <div class="form-group col-md-9 mt-4">
            <label>City:</label>
            <input type="text" class="form-control"placeholder="City" name="city">
        </div>
        <div class="form-group col-md-9 mt-4">
            <label>Email:</label>
            <input type="email" class="form-control"placeholder="Email" name="email">
        </div>
        <div class="form-group col-md-9 mt-4">
            <label>Password:</label>
            <input type="password" class="form-control"placeholder="Password" name="password">
        </div>
        <div class="form-group col-md-9 mt-4">
            <label>Age:</label>
            <input type="number" class="form-control"placeholder="Age" name="age">
        </div>
        <div class="form-group col-md-9 mt-4">
            <label>Role:</label>
            <select name="rid">
                <option th:each="role: ${roles}" th:value="${role.rid}" th:if="${role.level <= 90}"><p th:text="${role.roleName}"></p></option>
            </select>
            <button type="submit" class="btn btn-primary btn-block mt-3 col-md-12">Create user</button>
        </div>
    </form>



<table class="table table-hover text-center mt-2 table-striped" style="">
    <thead>
    <tr>
        <th scope="col">Full name</th>
        <th scope="col">City</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Creation date</th>
        <th scope="col">Role</th>
        <th scope="col">Manage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "user: ${users}">
        <th th:text="${user.firstname} + ' ' + ${user.lastname}" scope="row"></th>
        <td><p th:text="${user.city}"></p></td>
        <td><p th:text="${user.age}"></p></td>
        <td><p th:text="${user.email}"></p></td>
        <td><p th:text="${user.date}"></p></td>
        <td><p th:text="${user.roleName}"></p></td>

        <td th:if="${user.level < 100}"><a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a><a th:href="@{/user/update/{id}(id=${user.id})}" class="btn btn-info ml-2">Edit</a></td>
    </tr>
    </tbody>
</table>
</div>
<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>