<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/style/message.css}" type="text/css">
<head>
    <meta charset="UTF-8">

</head>
<body th:if="${session.level != null}">
    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <div class="friendlist">
        <div class="list-group" th:each="friend: ${friendlist}">
            <a th:href="@{/message/{id} (id=${friend.id})}">
                <div class="list-group-item d-flex justify-content-between align-items-center mb-2">
                    <p th:text="${friend.username1}"></p>
                    <img src="/images/avatar.png" width="22" height="22">
                </div>
            </a>
        </div>
    </div>
    <div class="chatbox">
        <div class="chatlogs">
            <div th:each="message: ${messages}">
                <div th:if="${message.senderUser == session.id}">
                    <div style="margin-left: 100px; padding: 5px; background-color: #1a82ae; color: white;">
                        <p th:text="${message.message}"></p>
                    </div>
                </div>
                <div th:if="${message.senderUser != session.id}">
                    <div style="padding: 5px; background-color: #95999c; color: black;">
                        <p th:text="${message.message}"></p>
                    </div>

                </div>

            </div>
        </div>
        <form action="">
            <input type="text" name="sendMessage">
            <button type="submit">send</button>
        </form>
    </div>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>