<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body th:if="${session.level != null}">
    <header>
        <div th:replace="fragments/header :: header"></div>
        <link rel="stylesheet" th:href="@{/css/message.css}" type="text/css">
    </header>

    <div class="mycontainer">
        <div class="friendlist">
            <div th:each="friend: ${friendlist}">
                <a th:href="@{/messages/{id} (id=${friend.id})}">
                    <div class="oneperson">
                        <img src="/images/avatar.png" width="22" height="22">
                        <p th:text="${friend.username1}"></p>

                    </div>
                </a>
            </div>
        </div>
        <div class="chatbox">
            <div class="chatlogs">
                <div th:each="message: ${messages}">
                    <div th:if="${message.senderUser == session.id}">
                        <div class="messagecontainer">
                            <div class="from">
                                <p th:text="${message.message}"></p>
                            </div>
                        </div>
                    </div>
                    <div th:if="${message.senderUser != session.id}">
                        <div class="messagecontainer">
                            <div class="to">
                                <p th:text="${message.message}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:each="friend: ${findFriend}">
                <form class="chatinput" th:action="@{/messages}" th:object="${Message}" method="post" >
                    <input type="text" name="message">
                    <input type="hidden" name="receiverUser" th:value="${friend.user1}">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </div>
    <div>heeej</div>
    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>