<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>

<div th:each = "blog: ${blogs}" class="card border-dark mb-3 mt-5" style="margin-left: 13%; max-width: 70rem;">
    <h2 class="card-header"><p th:text="${blog.title}"></p></h2>
    <div class="card-body">
        <p th:text="${blog.date}"></p>
        <p th:text="${blog.author}"></p>
        <p class="card-text"><p th:text="${blog.text}"></p></p>
    </div>
</div>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>