<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<div class="card col-md-9 mt-4 mb-3" th:each = "blog: ${blogs}" style="margin-left: 13%">
    <div class="card-body">
        <h2 class="card-title"><p th:text="${blog.title}"></p></h2>
        <p th:text="${blog.author}" class="card-link"></p>
        <h6 class="card-subtitle mb-2 text-muted"><p th:text="${blog.date}"></p></h6>
        <p th:text="${blog.text}"></p>
    </div>
</div>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>