<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

</head>
<body th:if="${session.level != null}">
    <header>
        <div th:replace="fragments/header :: header"></div>
    </header>

    <div class="container">
        <h1>PROFIL</h1>
        <div>
            <p class="card-subtitle mb-2 text-muted">First name: <i th:text="${session.firstName}"></i></p>
            <p class="card-subtitle mb-2 text-muted">Last name: <i th:text="${session.lastName}"></i></p>
            <p class="card-subtitle mb-2 text-muted">City: <i th:text="${session.city}"></i></p>
            <p class="card-subtitle mb-2 text-muted">Age: <i th:text="${session.age}"></i></p>
            <p class="card-subtitle mb-2 text-muted">Date: <i th:text="${session.date}"></i></p>
            <p class="card-subtitle mb-2 text-muted">Role: <i th:text="${session.roleName}"></i></p>
        </div>
        <div><p th:text="${message}"></p></div>
        <form th:action="@{/profile}" th:object="${user}" method="post">
            <label>New password</label>
            <input type="text" placeholder="password" name="password">
            <input type="hidden" name="email" th:value="${session.email}">
            <button type="submit">change</button>
        </form>
    </div>

    <footer>
        <div th:replace="fragments/footer :: footer"></div>
    </footer>
</body>
</html>