<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<div>

    <table class="table table-hover mt-4 col-md-9" style="margin-left: 12%;">
        <thead>
        <tr class="table-info">
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col" class="float-right mr-4" th:text="'Total users: ' + ${usercount}"></th>
        </tr>
        </thead>
        <tr th:each="user: ${users}">
            <th scope="row"><p th:text="${user.firstname}"></p></th>
            <td><p th:text="${user.lastname}"></p></td>
            <td class="text-center"><form th:action="@{/userprofile/{id} (id=${user.id})}"><button type="submit" class="btn btn-info float-right">View Profile</button></form></td>
        </tr>
    </table>
</div>

<footer>
    <div th:replace="fragments/footer :: footer"></div>
</footer>
</body>
</html>