<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div th:replace="fragments/header :: header"></div>
</header>
<div th:each="user : ${users}">
    <p th:text="${user.firstname}"></p>
    <a th:if="${session.id != user.id && session.id != null && !friends}" th:href="@{/addfriend/{id} (id=${user.id})}">Add friend</a>
</div>

<footer>
    <div th:replace="fragments/footer :: footer"></div>

</footer>
</body>
</html>